.list {
  padding: 0;
}

.item {
  display: flex;
  gap: 20px;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.number {
  font-weight: 600;
}

.button {
  background: #fff;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 5px;
  color: red;
  cursor: pointer;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  transition: background-color var(--trans-hv);
}

.button:hover {
  background-color: red;
  color: #fff;
}
